<div class="tasklist">

    {{#each tasks}}

        <li>
            <a href="/task/{{this.id}}">{{this.text}}</a>
        </li>

    {{else}}

        <P>No tasks have been completed!</P>

    {{/each}}

</div>